<template>
	<div class="header-nav">
		<div class="nav-container">
			<nuxt-link to="/" class="flex v-center flex-spacer">
				<img src="~assets/img/github.png" alt="" height="25" />
			</nuxt-link>
			<headerUserNav />
		</div>
	</div>
</template>

<script>
export default {
	name: 'HeaderNav',
	data() {
		return {
			mainNav: []
		}
	}
}
</script>

<style lang="scss">
.header-nav {
	height: 100%;
}

.nav-toggle {
	@media #{$medium} {
		display: none;
	}
}

.nav-container {
	display: flex;
	height: 100%;
}

.header-link {
	color: $dark-grey;
	height: 100%;
	display: flex;
	align-items: center;
	padding: 5px 10px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;

	&:hover,
	&:focus,
	&.is-active {
		color: $link;
	}

	&.is-active {
		border-right-color: $link;
	}

	@media #{$medium} {
		&.is-active {
			border-right-color: transparent;
			border-bottom-color: $link;
		}
	}
}
</style>
