<template>
	<header :class="`site-header ${headerClass.scrolled ? 'scrolled' : ''}`">
		<div class="header full-width flex f-space-between v-center">
			<div>
				<img src="~assets/img/home/header-icon.png" alt="" />
			</div>
			<div v-if="!$fetchState.pending">
				<headerMainNav :main-nav-data="navMenus" />
			</div>
			<div class="flex v-center">
				<i class="bzi-search11"></i>
				<button class="btn btn--orange ml-18">Contact</button>
			</div>
		</div>
	</header>
</template>

<script>
export default {
	name: 'HeaderComponent',
	props: {
		headerType: {
			type: String,
			default: 'default'
		},
		logoImg: {
			type: String,
			default: 'site-logo.png'
		},
		logoText: {
			type: String,
			default: 'SuitBaze'
		}
	},
	data() {
		return {
			navMenus: [],
			onScroll: false
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/menus.json`)
			.then(res => {
				this.navMenus = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	},
	computed: {
		getImagePath() {
			return require(`~/assets/img/${this.logoImg}`)
		},
		headerClass() {
			return {
				scrolled: this.onScroll
			}
		}
	},
	mounted() {
		window.addEventListener('scroll', this.handleScroll)
	},
	beforeDestroy() {
		window.removeEventListener('scroll', this.handleScroll)
	},
	methods: {
		toggleSidebarHandler() {
			this.$emit('toggleSidebar')
		},
		handleScroll() {
			// Calculate the scroll position
			const scrollPosition = window.scrollY || window.pageYOffset

			// Define the threshold at which to change the background color
			const threshold = 100 // Adjust this value as needed

			// Check if the scroll position exceeds the threshold
			this.onScroll = scrollPosition > threshold
		}
	}
}
</script>

<style lang="scss">
.site-header {
	display: flex;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 24px;
	color: $white;
	background: transparent;
	transition: background-color 0.3s ease;

	& .header {
		height: 45px;
	}

	&.scrolled {
		background: $orange !important;
	}

	& .header-link {
		height: 100%;
		display: flex;
		align-items: center;
		padding: 5px 10px;
		border-right: 3px solid transparent;
		border-bottom: 3px solid transparent;
		color: $white;

		&:hover,
		&:focus,
		&.is-active {
			color: $link;
		}

		&.is-active {
			border-right-color: $link;
		}

		@media #{$medium} {
			&.is-active {
				border-right-color: transparent;
				border-bottom-color: $link;
			}
		}
	}

	& button {
		border-radius: 4px;
	}
}
</style>
