<template>
	<div
		:class="`${
			isTop
				? isHighlighted
					? 'card__item card--highlighted'
					: 'card__item--mobile'
				: 'card__item'
		}`"
	>
		<figure class="card__wrap flex flex-spacer">
			<div class="card__wrapper">
				<div class="card__action">
					<a v-if="url !== ''" :href="url">
						<div
							class="circle mb-8 p-12 bg-orange text-white flex v-center h-center"
						>
							<i class="bzi-chain2"></i>
						</div>
					</a>
					<a v-if="pageLink !== ''" :href="`/${pageLink}`">
						<div
							class="circle p-12 bg-orange text-white flex v-center h-center"
						>
							<i class="bzi-chain2"></i>
						</div>
					</a>
				</div>
				<nuxt-link :to="`/blog/${article.slug}`" class="card__image">
					<img v-lazy-load :src="getImagePath" alt="" />
				</nuxt-link>
			</div>

			<figcaption class="card__info">
				<nuxt-link :to="`/blog/${article.slug}`">
					<h6 class="card__title text-black90 f-24 mt-6 mb-4">
						{{ article.title }}
					</h6>
				</nuxt-link>
				<p class="card__description f-18 mb-4">
					How do you categorize the app on your mobile phone? Is it based on
					color, function, frequency of use, or so...
				</p>
			</figcaption>
		</figure>
	</div>
</template>

<script>
export default {
	name: 'HomeCard',
	props: {
		article: {
			type: Object,
			default: () => ({
				slug: '',
				provider: 'Default',
				category: 'Human Growth',
				image: 'image1.png',
				medium_image: [
					{
						url: '/'
					}
				],
				title: 'Combining science with practicality in segmentation',
				description:
					'How do you categorize the app on your mobile phone? Is it based on color, function, frequency of use, or so...',
				time: 'March 29 • 5 min read',
				published_at: '2020-12-22'
			})
		},
		isTop: {
			type: Boolean,
			default: false
		},
		isHighlighted: {
			type: Boolean,
			default: false
		},
		url: {
			type: String,
			default: ''
		},
		pageLink: {
			type: String,
			default: 'suitmedia.com'
		}
	},
	computed: {
		getImage() {
			let img = 'icon.png'

			if (this.article.medium_image.length) {
				img = this.article.medium_image[0].url
			}

			return img
		},
		formattedDate() {
			const date = new Date(this.article.published_at)
			const options = { day: 'numeric', month: 'long', year: 'numeric' }
			const formatted = date.toLocaleDateString('en-US', options)
			return formatted
			// const [month, day] = formatted.split(' ')
			// return `${day} ${month}`
		},
		getImagePath() {
			return require(`~/assets/img/blog/${this.article.image}`)
		}
	}
}
</script>

<style lang="scss" scoped>
.card__item,
.card__item--mobile {
	& .card {
		&__wrapper {
			width: 40%;
			position: relative;
		}
		&__wrap {
			flex-direction: row;
		}
	}
}
.card__item,
.card__item--mobile {
	font-size: 1em;

	& .card,
	&.card--not-highlighted {
		&__action {
			position: absolute;
			z-index: 1;
			right: 20px;
			bottom: 20px;
		}
		&__title:hover {
			color: $orange;
		}
		&__info {
			flex-grow: 1;
			width: 60%;
			max-width: 100%;
		}
		&__author {
			font-size: 0.85em;
		}
		&__description {
			font-size: 0.8em;
			color: $black70;
		}
		&__time {
			font-size: 0.72em;
		}

		&__image {
			width: 100%;
			border-radius: 12px;
			position: relative;
			overflow: hidden;
			padding-bottom: (303.18/553) * 100%;
			display: block;

			img {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.card--highlighted {
	& .card__wrapper {
		width: 100%;
	}
	& .card__wrap {
		flex-direction: column;
	}
	& .card {
		&__info {
			width: 100%;
		}
		&__image {
			width: 100%;
			padding-bottom: (303.18/553) * 100%;
		}
	}
}

.card__item {
	@media #{$large} {
		& .card__wrapper {
			width: 100%;
		}
		& .card__wrap {
			flex-direction: column;
		}
		& .card {
			&__info {
				width: 100%;
			}
			&__image {
				width: 100%;
				padding-bottom: (303.18/553) * 100%;
			}
		}
	}
}
</style>
