<template>
	<footer class="site-footer">
		<div class="container pv-24">
			<div class="flex f-space-between flex--wrap">
				<div class="text-black80">
					<p>Jl. Pejaten Barat II No. 3A Jakarta, Indonesia 12510</p>
					<div class="flex v-center">
						<p><i class="bzi-mail11"></i> contact@suitmedia.com</p>
						<p><i class="bzi-phone11 ml-8"></i> +6221 719 6877</p>
					</div>
					<div class="mt-24 flex v-center">
						<p class="text-black60 f--bold f-18 mb-0">Engage with Us</p>
						<div class="flex socmed-links ml-18">
							<a href="">
								<div class="circle p-12 border-orange flex v-center h-center">
									<i class="bzi-facebook-square"></i>
								</div>
							</a>
							<a href="">
								<div class="circle p-12 border-orange flex v-center h-center">
									<i class="bzi-twitter2"></i>
								</div>
							</a>
							<a href="">
								<div class="circle p-12 border-orange flex v-center h-center">
									<i class="bzi-linkedin2"></i>
								</div>
							</a>
							<a href="">
								<div class="circle p-12 border-orange flex v-center h-center">
									<i class="bzi-instagram11"></i>
								</div>
							</a>
							<a href="">
								<div class="circle p-12 border-orange flex v-center h-center">
									<i class="bzi-youtube11"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div>
					<p class="text-black60 f-18 f--bold">
						Stay Informed with Our Freshest Insights
					</p>
					<div class="form-email flex mb-24">
						<input
							type="email"
							class="form-input form-input--block text-light-grey"
							placeholder="Enter Your Email Address"
						/>
						<button class="btn btn--ghost-orange ml-18">Submit</button>
					</div>
					<div class="flex f-space-between flex-spacer">
						<a class="text-orange f-14">Privacy policy</a>
						<span class="text-black40">© Suitmedia 2023</span>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>

<script>
export default {
	name: 'FooterComponent'
}
</script>

<style lang="scss" scoped>
.site-footer {
	& .socmed-links a {
		color: $orange;
	}

	& .form-email {
		button {
			border-radius: 4px;
		}
	}
}
</style>
