<template>
	<nuxt-link to="/" class="site-logo">
		<slot></slot>
	</nuxt-link>
</template>

<script>
export default {
	name: 'LogoComponent',
	props: {
		title: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss"></style>
