<template>
	<ul class="pagination v-center">
		<li class="pagination-item circle">
			<button
				class="btn-arrow arrow--double"
				type="button"
				:disabled="isInFirstPage"
				aria-label="Go to first page"
				@click="onClickFirstPage"
			>
				<span class="bzi-angle-double-left"></span>
			</button>
		</li>

		<li class="pagination-item circle">
			<button
				class="btn-arrow arrow--single left-arrow flex v-center"
				type="button"
				:disabled="isInFirstPage"
				aria-label="Go to previous page"
				@click="onClickPreviousPage"
			>
				<span class="bzi-long-arrow1"></span>
				<!-- <svg
					width="40"
					height="40"
					viewBox="0 0 40 40"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M36.6667 19.9998C36.6667 10.7951 29.2048 3.33317 20 3.33317C10.7953 3.33317 3.33337 10.7951 3.33337 19.9998C3.33337 29.2046 10.7953 36.6665 20 36.6665C29.2048 36.6665 36.6667 29.2046 36.6667 19.9998Z"
						stroke="#B3B7C6"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M20 13.3332L13.3334 19.9998L20 26.6665"
						stroke="#B3B7C6"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M26.6667 20L13.3334 20"
						stroke="#B3B7C6"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg> -->
			</button>
		</li>

		<li
			v-for="(page, pi) in pages.filter(p => p.name > 0)"
			:key="pi"
			class="pagination-item circle mh-2"
		>
			<button
				v-if="page.name !== 0"
				class="btn-page rounded"
				type="button"
				:disabled="page.isDisabled"
				:class="{ active: isPageActive(page.name) }"
				:aria-label="`Go to page number ${page.name}`"
				@click="onClickPage(page.name)"
			>
				{{ page.name }}
			</button>
		</li>

		<li class="pagination-item circle">
			<button
				class="btn-arrow arrow--single flex v-center"
				type="button"
				:disabled="isInLastPage"
				aria-label="Go to next page"
				@click="onClickNextPage"
			>
				<!-- <svg
					width="40"
					height="40"
					viewBox="0 0 40 40"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M3.33341 19.9998C3.33341 10.7951 10.7953 3.33317 20.0001 3.33317C29.2048 3.33317 36.6667 10.7951 36.6667 19.9998C36.6667 29.2046 29.2048 36.6665 20.0001 36.6665C10.7953 36.6665 3.33341 29.2046 3.33341 19.9998Z"
						stroke="#56A8F4"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M20.0001 13.3332L26.6667 19.9998L20.0001 26.6665"
						stroke="#56A8F4"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
					<path
						d="M13.3334 20L26.6667 20"
						stroke="#56A8F4"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					/>
				</svg> -->

				<span class="bzi-long-arrow1"></span>
			</button>
		</li>

		<li class="pagination-item circle">
			<button
				class="btn-arrow arrow--double circle bg-primary"
				type="button"
				:disabled="isInLastPage"
				aria-label="Go to last page"
				@click="onClickLastPage"
			>
				<span class="bzi-angle-double-right"></span>
			</button>
		</li>
	</ul>
</template>

<script>
export default {
	name: 'PaginationComponent',
	props: {
		maxVisibleButtons: {
			type: Number,
			required: false,
			default: 5
		},
		totalPages: {
			type: Number,
			required: true
		},
		total: {
			type: Number,
			required: true
		},
		perPage: {
			type: Number,
			required: true
		},
		currentPage: {
			type: Number,
			required: true
		}
	},
	computed: {
		startPage() {
			if (this.currentPage === 1) {
				return 1
			}

			if (this.currentPage === this.totalPages) {
				return this.totalPages - this.maxVisibleButtons + 1
			}

			return this.currentPage - 1
		},
		endPage() {
			return Math.min(
				this.startPage + this.maxVisibleButtons - 1,
				this.totalPages
			)
		},
		pages() {
			const range = []

			for (let i = this.startPage; i <= this.endPage; i += 1) {
				range.push({
					name: i,
					isDisabled: i === this.currentPage
				})
			}

			return range
		},
		isInFirstPage() {
			return this.currentPage === 1
		},
		isInLastPage() {
			return this.currentPage === this.totalPages
		}
	},
	methods: {
		onClickFirstPage() {
			this.$emit('pagechanged', 1)
		},
		onClickPreviousPage() {
			this.$emit('pagechanged', this.currentPage - 1)
		},
		onClickPage(page) {
			this.$emit('pagechanged', page)
		},
		onClickNextPage() {
			this.$emit('pagechanged', this.currentPage + 1)
		},
		onClickLastPage() {
			this.$emit('pagechanged', this.totalPages)
		},
		isPageActive(page) {
			return this.currentPage === page
		}
	}
}
</script>

<style lang="scss" scoped>
.pagination {
	.btn-page,
	.btn-arrow {
		background: transparent;
		border: none;
		border-radius: 4px;
		padding: 6px 12px;
		cursor: pointer;
		color: $primary;
	}

	.left-arrow span {
		transform: rotate(180deg);
	}

	.btn-arrow.arrow--double span {
		display: inline-block;
		transform: scale(1.5);
	}

	button:disabled {
		opacity: 0.5;
		cursor: not-allowed;
		color: $black60;
	}

	.btn-arrow {
		display: block;
		width: 43px;
		height: 43px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.btn-page {
		color: $primary;
		display: block;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border-radius: 50%;
		border: 1px solid $primary;
	}

	.btn-page.active {
		background: palette('primary');
		color: #fff;
		opacity: 1;
		box-shadow: 0 0 0 4px palette('primary');
		position: relative;
		z-index: 2;
		// padding-left: 8px;
		// padding-right: 8px;
		// margin: 0 3.5px;
	}

	.btn-page:hover:not(:disabled),
	.btn-arrow:hover:not(:disabled) {
		background: lighten($primary, 40);
		// color: white;
	}
}
.pagination-item {
	// background: $black10;
	margin: 0;
}
</style>
