<template>
	<p :class="textclass">Text class color = ".text-primary"</p>
</template>

<script>
export default {
	name: 'TextItem',
	props: {
		textclass: {
			type: String,
			default: ''
		}
	}
}
</script>

<style lang="scss" scoped></style>
