<template>
	<pre class="code-block"><div><code><slot></slot></code></div></pre>
</template>

<script>
export default {
	name: 'CodeBlock',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.code-block {
	padding: 10px;
	background-color: $black5;
}

.attr {
	color: red;
}
</style>
