<template>
	<div class="bg-light-grey text-pink p-8 f-14">
		<slot></slot>
	</div>
</template>

<script>
export default {
	name: 'CodeBox'
}
</script>

<style lang="scss" scoped>
.new-line {
	display: block;
}
.attr-value {
	color: $teal;
}
.text {
	color: $black80;
}
</style>
