<template>
	<aside class="sidebar">
		<ul
			v-if="!$fetchState.pending"
			:class="`${
				isopen ? 'main--open' : 'main--close'
			} main list-nostyle bg-white`"
		>
			<li v-for="(nav, i) in sideNav" :key="i">
				<nuxt-link class="sidebar__link" :to="nav.url">{{
					nav.title
				}}</nuxt-link>
			</li>
		</ul>
	</aside>
</template>

<script>
export default {
	name: 'SideNavComponent',
	props: {
		isopen: {
			type: Boolean,
			required: true
		}
	},
	data() {
		return {
			sideNav: []
		}
	},
	async fetch() {
		await this.$axios
			.get(`/json/sideMenus.json`)
			.then(res => {
				this.sideNav = res.data.data
			})
			.catch(error => {
				const errData = error.response?.data
				const errMessage =
					error.response.data?.message || error.response.statusText
				if (errData.status === 404 || error.response.status === 404)
					this.$nuxt.error(this.$catch404)
				else {
					this.$nuxt.error(this.$catch500)
					const consoleError = new Error(errMessage)
					consoleError.code = errData?.status || error.response.status
					throw consoleError
				}
			})
	}
}
</script>

<style lang="scss" scoped>
.sidebar {
	position: relative;
	z-index: 2;

	.main {
		position: fixed;
		top: 45px;
		left: 0%;
		bottom: 0;
		width: 215px;
		border-right: 1px solid $black20;
		box-shadow: 0.1px 0px 8px $black20;
		transition: transform 0.3s ease;

		&--open {
			transform: translateX(0);
		}

		&--close {
			transform: translateX(-100%);
		}
	}

	&__link {
		display: block;
		padding: 8px 8px 8px 24px;
		color: $black70;
		scroll-behavior: auto;

		&:hover {
			color: $black;
		}

		&.nuxt-link-exact-active {
			background: $black7;
			font-weight: 600;
		}
	}

	@media #{$large} {
		.main {
			transform: translateX(0);
			top: 55px;
		}
	}
}
</style>
