.alert {
    padding: 8px 12px;
    font-family: inherit;
    line-height: $base_line_height;
    font-weight: 400;
    color: $black70;
    background-color: lighten($black70, 65%);
    border: 1px solid;
}

@each $state, $color in $palettes {
    .alert--#{$state} {
        @extend .alert;
        color: $color;
        background-color:lighten($color, 35);
    }
}

@each $state, $color in $light-palettes {
    .alert--#{$state} {
        @extend .alert;
        color: $color;
        background-color: rgba($color, $alpha: 0.4)
    }
}
