.card-group {
  display: flex;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.card {
  @extend .card-group;
  flex: 1 0 0%;
  flex-direction: column;
  color: black;
  background-color: #ccc;
  border: 1px solid darken(#ccc, 20);

  &--header, &--footer, &--body {
    padding: 8px;
  }
  &--body {
    flex: 1 1 auto;
  }
  &--body, &--image {
    background-color: white;
  }
}

@each $state, $color in $palettes {
  .card--#{$state} {
      @extend .card;
      color: white;
      background-color: darken($color, 20);
      border: 1px solid darken($color, 20);

      & > .card--body, & > .card--image {
        background-color: $color;
      }
  }
}

@each $state, $color in $light-palettes {
  .card--#{$state} {
      @extend .card;
      color: black;
      background-color: darken($color, 20);
      border: 1px solid darken($color, 20);

      & > .card--body {
        background-color: $color;
      }
  }
}

.progress-bar {
  position: relative;
  overflow: hidden;
  background: rgba(lighten($primary, 40%), 0.3);
  border-radius: 4px;

  .bar {
    display: block;
    height: 4px;
    background: $primary;
    border-radius: 4px;

    @media #{$medium} {
      height: 8px;
    }
  }
}

.hash-container {
  background-color: rgba(lighten($primary, 40%), 0.2);
  padding: 14px 16px;
}