@font-face {
  font-family: 'bz-icon';
  src:  url('~assets/fonts/bz-icon.eot?z7cq32');
  src:  url('~assets/fonts/bz-icon.eot?z7cq32#iefix') format('embedded-opentype'),
    url('~assets/fonts/bz-icon.ttf?z7cq32') format('truetype'),
    url('~assets/fonts/bz-icon.woff?z7cq32') format('woff'),
    url('~assets/fonts/bz-icon.svg?z7cq32#bz-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bzi-"], [class*=" bzi-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bz-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bzi-long-arrow:before {
  content: "\e953";
}
.bzi-github-alt:before {
  content: "\e954";
}
.bzi-github1:before {
  content: "\e955";
}
.bzi-briefcase:before {
  content: "\e956";
}
.bzi-globe:before {
  content: "\e957";
}
.bzi-arrow_forward:before {
  content: "\e958";
}
.bzi-phone:before {
  content: "\e959";
}
.bzi-calculator:before {
  content: "\e95a";
}
.bzi-notification:before {
  content: "\e95b";
}
.bzi-share:before {
  content: "\e95c";
}
.bzi-twitter:before {
  content: "\e95d";
}
.bzi-instagram:before {
  content: "\e95e";
}
.bzi-search:before {
  content: "\e95f";
}
.bzi-minus:before {
  content: "\e960";
}
.bzi-plus:before {
  content: "\e961";
}
.bzi-long-arrow1:before {
  content: "\e962";
}
.bzi-home:before {
  content: "\e963";
}
.bzi-play:before {
  content: "\e964";
}
.bzi-date:before {
  content: "\e965";
}
.bzi-angle-down:before {
  content: "\e966";
}
.bzi-angle-up:before {
  content: "\e967";
}
.bzi-hand-shake:before {
  content: "\e968";
}
.bzi-filter:before {
  content: "\e969";
}
.bzi-caret-right:before {
  content: "\e96a";
}
.bzi-caret-left:before {
  content: "\e96b";
}
.bzi-caret-up:before {
  content: "\e96c";
}
.bzi-caret-down:before {
  content: "\e96d";
}
.bzi-angle-right:before {
  content: "\e96e";
}
.bzi-angle-left:before {
  content: "\e96f";
}
.bzi-history:before {
  content: "\e970";
}
.bzi-loading:before {
  content: "\e971";
}
.bzi-eye:before {
  content: "\e972";
}
.bzi-mail:before {
  content: "\e973";
}
.bzi-lock:before {
  content: "\e974";
}
.bzi-logout:before {
  content: "\e975";
}
.bzi-map-marker:before {
  content: "\e976";
}
.bzi-eye-close:before {
  content: "\e977";
}
.bzi-clock:before {
  content: "\e978";
}
.bzi-people:before {
  content: "\e979";
}
.bzi-reward:before {
  content: "\e97a";
}
.bzi-settings:before {
  content: "\e97b";
}
.bzi-download:before {
  content: "\e97c";
}
.bzi-briefcase1:before {
  content: "\e97d";
}
.bzi-globe1:before {
  content: "\e97e";
}
.bzi-arrow_forward1:before {
  content: "\e97f";
}
.bzi-close:before {
  content: "\e980";
}
.bzi-phone1:before {
  content: "\e981";
}
.bzi-calculator1:before {
  content: "\e982";
}
.bzi-notification1:before {
  content: "\e983";
}
.bzi-share1:before {
  content: "\e984";
}
.bzi-twitter1:before {
  content: "\e985";
}
.bzi-instagram1:before {
  content: "\e986";
}
.bzi-search1:before {
  content: "\e987";
}
.bzi-minus1:before {
  content: "\e988";
}
.bzi-plus1:before {
  content: "\e989";
}
.bzi-long-arrow11:before {
  content: "\e98a";
}
.bzi-home1:before {
  content: "\e98b";
}
.bzi-play1:before {
  content: "\e98c";
}
.bzi-date1:before {
  content: "\e98d";
}
.bzi-angle-down1:before {
  content: "\e98e";
}
.bzi-angle-up1:before {
  content: "\e98f";
}
.bzi-hand-shake1:before {
  content: "\e990";
}
.bzi-filter1:before {
  content: "\e991";
}
.bzi-caret-right1:before {
  content: "\e992";
}
.bzi-caret-left1:before {
  content: "\e993";
}
.bzi-caret-up1:before {
  content: "\e994";
}
.bzi-caret-down1:before {
  content: "\e995";
}
.bzi-angle-right1:before {
  content: "\e996";
}
.bzi-angle-left1:before {
  content: "\e997";
}
.bzi-history1:before {
  content: "\e998";
}
.bzi-loading1:before {
  content: "\e999";
}
.bzi-eye1:before {
  content: "\e99a";
}
.bzi-mail1:before {
  content: "\e99b";
}
.bzi-lock1:before {
  content: "\e99c";
}
.bzi-logout1:before {
  content: "\e99d";
}
.bzi-map-marker1:before {
  content: "\e99e";
}
.bzi-eye-close1:before {
  content: "\e99f";
}
.bzi-clock1:before {
  content: "\e9a0";
}
.bzi-people1:before {
  content: "\e9a1";
}
.bzi-reward1:before {
  content: "\e9a2";
}
.bzi-settings1:before {
  content: "\e9a3";
}
.bzi-download1:before {
  content: "\e9a4";
}
.bzi-close1:before {
  content: "\e9a5";
}
.bzi-like:before {
  content: "\e9a6";
}
.bzi-attachment:before {
  content: "\e9cf";
}
.bzi-attachment1:before {
  content: "\e9d0";
}
.bzi-github:before {
  content: "\eab1";
}
.bzi-user:before {
  content: "\f009";
}
.bzi-user1:before {
  content: "\f00a";
}
.bzi-edit:before {
  content: "\f046";
}
.bzi-edit1:before {
  content: "\f047";
}
.bzi-check-circle:before {
  content: "\f05a";
}
.bzi-check-circle1:before {
  content: "\f05b";
}
.bzi-facebook-square:before {
  content: "\f084";
}
.bzi-facebook-square1:before {
  content: "\f085";
}
.bzi-linkedin:before {
  content: "\f08e";
}
.bzi-linkedin1:before {
  content: "\f08f";
}
.bzi-chain:before {
  content: "\f0c3";
}
.bzi-chain1:before {
  content: "\f0c4";
}
.bzi-bars:before {
  content: "\f0cb";
}
.bzi-bars1:before {
  content: "\f0cc";
}
.bzi-angle-double-left:before {
  content: "\f104";
}
.bzi-angle-double-right:before {
  content: "\f105";
}
.bzi-angle-double-left1:before {
  content: "\f106";
}
.bzi-angle-double-right1:before {
  content: "\f107";
}
.bzi-youtube:before {
  content: "\f16c";
}
.bzi-youtube1:before {
  content: "\f16d";
}
.bzi-fax:before {
  content: "\f1ae";
}
.bzi-fax1:before {
  content: "\f1af";
}
.bzi-briefcase2:before {
  content: "\e902";
}
.bzi-globe2:before {
  content: "\e903";
}
.bzi-arrow_forward2:before {
  content: "\e904";
}
.bzi-phone2:before {
  content: "\e905";
}
.bzi-calculator2:before {
  content: "\e906";
}
.bzi-notification2:before {
  content: "\e907";
}
.bzi-share2:before {
  content: "\e908";
}
.bzi-twitter2:before {
  content: "\e909";
}
.bzi-instagram2:before {
  content: "\e90a";
}
.bzi-search2:before {
  content: "\e90b";
}
.bzi-minus2:before {
  content: "\e90c";
}
.bzi-plus2:before {
  content: "\e90d";
}
.bzi-long-arrow2:before {
  content: "\e90e";
}
.bzi-home2:before {
  content: "\e90f";
}
.bzi-play2:before {
  content: "\e910";
}
.bzi-date2:before {
  content: "\e911";
}
.bzi-angle-down2:before {
  content: "\e912";
}
.bzi-angle-up2:before {
  content: "\e913";
}
.bzi-hand-shake2:before {
  content: "\e914";
}
.bzi-filter2:before {
  content: "\e915";
}
.bzi-caret-right2:before {
  content: "\e916";
}
.bzi-caret-left2:before {
  content: "\e917";
}
.bzi-caret-up2:before {
  content: "\e918";
}
.bzi-caret-down2:before {
  content: "\e919";
}
.bzi-angle-right2:before {
  content: "\e91a";
}
.bzi-angle-left2:before {
  content: "\e91b";
}
.bzi-history2:before {
  content: "\e91c";
}
.bzi-loading2:before {
  content: "\e91d";
}
.bzi-eye2:before {
  content: "\e91e";
}
.bzi-mail2:before {
  content: "\e91f";
}
.bzi-lock2:before {
  content: "\e920";
}
.bzi-logout2:before {
  content: "\e921";
}
.bzi-map-marker2:before {
  content: "\e922";
}
.bzi-eye-close2:before {
  content: "\e923";
}
.bzi-clock2:before {
  content: "\e924";
}
.bzi-people2:before {
  content: "\e925";
}
.bzi-reward2:before {
  content: "\e926";
}
.bzi-settings2:before {
  content: "\e927";
}
.bzi-download2:before {
  content: "\e928";
}
.bzi-close2:before {
  content: "\e92c";
}
.bzi-attachment2:before {
  content: "\e9cd";
}
.bzi-user2:before {
  content: "\f007";
}
.bzi-edit2:before {
  content: "\f044";
}
.bzi-check-circle2:before {
  content: "\f058";
}
.bzi-facebook-square2:before {
  content: "\f082";
}
.bzi-linkedin2:before {
  content: "\f08c";
}
.bzi-chain2:before {
  content: "\f0c1";
}
.bzi-bars2:before {
  content: "\f0c9";
}
.bzi-angle-double-left2:before {
  content: "\f100";
}
.bzi-angle-double-right2:before {
  content: "\f101";
}
.bzi-youtube2:before {
  content: "\f16a";
}
.bzi-fax2:before {
  content: "\f1ac";
}
.bzi-briefcase11:before {
  content: "\e929";
}
.bzi-globe11:before {
  content: "\e92a";
}
.bzi-arrow_forward11:before {
  content: "\e92b";
}
.bzi-phone11:before {
  content: "\e92d";
}
.bzi-calculator11:before {
  content: "\e92e";
}
.bzi-notification11:before {
  content: "\e92f";
}
.bzi-share11:before {
  content: "\e930";
}
.bzi-twitter11:before {
  content: "\e931";
}
.bzi-instagram11:before {
  content: "\e932";
}
.bzi-search11:before {
  content: "\e933";
}
.bzi-minus11:before {
  content: "\e934";
}
.bzi-plus11:before {
  content: "\e935";
}
.bzi-long-arrow12:before {
  content: "\e936";
}
.bzi-home11:before {
  content: "\e937";
}
.bzi-play11:before {
  content: "\e938";
}
.bzi-date11:before {
  content: "\e939";
}
.bzi-angle-down11:before {
  content: "\e93a";
}
.bzi-angle-up11:before {
  content: "\e93b";
}
.bzi-hand-shake11:before {
  content: "\e93c";
}
.bzi-filter11:before {
  content: "\e93d";
}
.bzi-caret-right11:before {
  content: "\e93e";
}
.bzi-caret-left11:before {
  content: "\e93f";
}
.bzi-caret-up11:before {
  content: "\e940";
}
.bzi-caret-down11:before {
  content: "\e941";
}
.bzi-angle-right11:before {
  content: "\e942";
}
.bzi-angle-left11:before {
  content: "\e943";
}
.bzi-history11:before {
  content: "\e944";
}
.bzi-loading11:before {
  content: "\e945";
}
.bzi-eye11:before {
  content: "\e946";
}
.bzi-mail11:before {
  content: "\e947";
}
.bzi-lock11:before {
  content: "\e948";
}
.bzi-logout11:before {
  content: "\e949";
}
.bzi-map-marker11:before {
  content: "\e94a";
}
.bzi-eye-close11:before {
  content: "\e94b";
}
.bzi-clock11:before {
  content: "\e94c";
}
.bzi-people11:before {
  content: "\e94d";
}
.bzi-reward11:before {
  content: "\e94e";
}
.bzi-settings11:before {
  content: "\e94f";
}
.bzi-download11:before {
  content: "\e950";
}
.bzi-close11:before {
  content: "\e951";
}
.bzi-attachment11:before {
  content: "\e9ce";
}
.bzi-user11:before {
  content: "\f008";
}
.bzi-edit11:before {
  content: "\f045";
}
.bzi-check-circle11:before {
  content: "\f059";
}
.bzi-facebook-square11:before {
  content: "\f083";
}
.bzi-linkedin11:before {
  content: "\f08d";
}
.bzi-chain11:before {
  content: "\f0c2";
}
.bzi-bars11:before {
  content: "\f0ca";
}
.bzi-angle-double-left11:before {
  content: "\f102";
}
.bzi-angle-double-right11:before {
  content: "\f103";
}
.bzi-youtube11:before {
  content: "\f16b";
}
.bzi-fax11:before {
  content: "\f1ad";
}
.bzi-copy:before {
  content: "\e9a7";
}
.bzi-like1:before {
  content: "\e952";
}
.bzi-heart-o:before {
  content: "\e9a8";
}
.bzi-github-alt1:before {
  content: "\e900";
}
.bzi-github11:before {
  content: "\e901";
}
.bzi-arrow-left2:before {
  content: "\ea40";
}
.bzi-github2:before {
  content: "\eab0";
}
