<template>
	<div
		:class="`${
			article.isTop
				? article.isHighlighted
					? 'card__item'
					: 'card__item--mobile'
				: 'card__item'
		}`"
	>
		<figure class="card__wrap flex">
			<div class="card__image">
				<img :src="getImagePath" :alt="`${article.image}`" />
			</div>

			<figcaption class="card__info pl-8">
				<div class="flex v-center card__category">
					<p class="mr-12 mb-0 text-bold card__author">
						{{ article.provider }}
					</p>
					<reusableClickableChip :category="article.category" />
				</div>
				<h6 class="card__title text-gt-primary mv-12">
					{{ article.title }}
				</h6>
				<p class="card__description mb-4">{{ article.description }}</p>
				<p class="card__time f-14 text-grey">{{ article.time }}</p>
			</figcaption>
		</figure>
	</div>
</template>

<script>
export default {
	name: 'BlogCard2',
	props: {
		article: {
			type: Object,
			default: () => ({
				slug: '',
				provider: 'Default',
				category: 'Human Growth',
				image: 'image1.png',
				title: 'Combining science with practicality in segmentation',
				description:
					'How do you categorize the app on your mobile phone? Is it based on color, function, frequency of use, or so...',
				time: 'March 29 • 5 min read',
				isTop: false,
				isHighlighted: false
			})
		}
	},
	computed: {
		getImagePath() {
			return require(`~/assets/img/blog/${this.article.image}`)
		}
	}
}
</script>

<style lang="scss" scoped>
.card__item,
.card__item--mobile {
	font-size: 1em;

	& .card__wrap {
		flex-direction: row;
	}
	& .card {
		&__category {
			height: 23px;
			overflow: hidden;
		}
		&__title {
			height: 44px;
			overflow: hidden;
		}
		&__info {
			flex-grow: 1;
			max-width: 100%;
		}
		&__author {
			font-size: 0.85em;
		}
		&__description {
			font-size: 0.8em;
			color: $black70;
			height: 35px;
			overflow: hidden;
		}
		&__time {
			font-size: 0.72em;
			height: 16px;
			overflow: hidden;
		}
		&__image {
			flex-grow: 1;
			width: 40%;
			position: relative;
			overflow: hidden;
			padding-bottom: (303.18/553) * 40%;
			border-radius: 24px;

			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

@media #{$large} {
	.card__item {
		& .card__wrap {
			flex-direction: column;
		}
		& .card {
			&__info {
				width: 100%;
			}
			&__image {
				width: 100%;
				padding-bottom: (303.18/553) * 100%;
			}
		}
	}
}
</style>
