<template>
	<div class="blank-layout">
		<Header />
		<nuxt />
		<Footer />
	</div>
</template>

<script>
export default {
	name: 'BlankLayout'
}
</script>

<style lang="scss">
#__nuxt,
#__layout,
.blank-layout {
	height: 100%;
}
</style>

<style lang="scss" scoped></style>
