<template>
	<main id="alert">
		<h2 class="text-orange">Alert</h2>
		<div class="alert-box">
			<div class="alert">Alert default</div>
			<div class="alert--primary">Alert primary</div>
			<div class="alert--secondary">Alert secondary</div>
			<div class="alert--warning">Alert warning</div>
			<div class="alert--danger">Alert danger</div>
			<div class="alert--black">Alert black</div>
			<div class="alert--dark-grey">Alert light-grey</div>
			<div class="alert--light-grey">Alert white</div>
		</div>
		<hr />
		<h2 class="text-orange">Alert</h2>
		<button
			class="btn--primary js-trigger-alert"
			data-alert="#alert1"
			@click="alert1ToggleHandler"
		>
			Alert 1
		</button>
		<button
			class="btn--primary js-trigger-alert"
			data-alert="#alert2"
			@click="alert2ToggleHandler"
		>
			Alert 2
		</button>

		<div
			id="alert1"
			:class="`alert--popup ${alert1Open ? 'alert--open' : 'alert--close'}`"
		>
			<div class="alert--primary alert--popup-content">
				<span class="alert--close-button" @click="alert1ToggleHandler"
					><i class="bzi-close"></i
				></span>
				<h4>Lorem Ipsum!</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<hr />
				<p class="mb-0">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui
					obcaecati tempora. Quod, nesciunt culpa sunt sit itaque voluptate
					molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?
				</p>
			</div>
		</div>

		<div
			id="alert2"
			:class="`alert--popup ${alert2Open ? 'alert--open' : 'alert--close'}`"
		>
			<div class="alert--danger alert--popup-content">
				<span class="alert--close-button" @click="alert2ToggleHandler"
					><i class="bzi-close"></i
				></span>
				<h4>Number 2</h4>
				<p>Test Number 2</p>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'AlertPage',
	data() {
		return {
			alert1Open: false,
			alert2Open: false
		}
	},
	methods: {
		alert1ToggleHandler() {
			this.alert1Open = !this.alert1Open
		},
		alert2ToggleHandler() {
			this.alert2Open = !this.alert2Open
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
.alert {
	&-box > div {
		margin: 10px 0px;
	}
	&--popup {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 4;
		width: 100%;
		height: 100%;
		padding-top: 15%;
		background-color: rgba(0, 0, 0, 0.4);
		overflow: auto;

		&-content {
			width: 80%;
			margin: auto;
		}
	}
	&--close-button {
		float: right;
	}
	&--open {
		display: block;
	}

	&--close {
		display: none;
	}
}
</style>
