<template>
	<main id="buttons">
		<h2 class="text-orange">Buttons</h2>
		<p v-for="color in colors" :key="color">
			<button :class="`btn--${color}`">Button Color</button>
			<button :class="`btn--ghost-${color}`">Button Color</button>
			<button :class="`btn--flat-${color}`">Button Color</button>
		</p>
		<boxCodeBox
			><div v-for="color in colors" :key="color">
				&lt;p&gt;
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value">"btn--{{ color }}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--ghost-{{ color }}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--flat-{{ color }}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				&lt;/p&gt;
			</div></boxCodeBox
		>
		<hr />
		<h2 class="text-orange">Button Sizing</h2>
		<p v-for="size in sizes" :key="size">
			<button :class="`btn--primary btn--${size.type}`">
				{{ size.name }} Button
			</button>
			<button :class="`btn--ghost-primary btn--${size.type}`">
				{{ size.name }} Button
			</button>
			<button :class="`btn--flat-primary btn--${size.type}`">
				{{ size.name }} Button
			</button>
		</p>
		<boxCodeBox
			><div v-for="size in sizes" :key="size.name">
				&lt;p&gt;
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--primary{{
							size.type !== '' ? ` btn--${size.type}` : ''
						}}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--ghost-primary{{
							size.type !== '' ? ` btn--${size.type}` : ''
						}}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--flat-primary{{
							size.type !== '' ? ` btn--${size.type}` : ''
						}}"</span
					>&gt;<span class="text">Button Color</span>&lt;/button&gt;
				</div>
				&lt;/p&gt;
			</div></boxCodeBox
		>
		<hr />
		<h2 class="text-orange">Icon-only Buttons</h2>
		<p
			v-for="iconOnly in iconOnlyButtons"
			:key="`'iconOnly-'${iconOnly.size}`"
			class="flex flex-spacer"
		>
			<button
				:class="`btn--primary btn--${iconOnly.size} btn--icon flex v-center`"
			>
				<i :class="iconOnly.icons[0]"></i>
			</button>
			<button
				:class="`btn--ghost-black btn--${iconOnly.size} btn--icon flex v-center`"
			>
				<i :class="iconOnly.icons[1]"></i>
			</button>
			<button
				:class="`btn--flat-light-grey btn--${iconOnly.size} btn--icon flex v-center`"
			>
				<i :class="iconOnly.icons[2]"></i>
			</button>
		</p>
		<boxCodeBox
			><div
				v-for="iconOnly in iconOnlyButtons"
				:key="`'iconOnly-'${iconOnly.size}`"
			>
				&lt;p&gt;
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--primary{{
							iconOnly.size !== '' ? ` btn--${iconOnly.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						>&lt;i class=<span class="attr-value"
							>"{{ iconOnly.icons[0] }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--ghost-primary{{
							iconOnly.size !== '' ? ` btn--${iconOnly.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						>&lt;i class=<span class="attr-value"
							>"{{ iconOnly.icons[1] }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--flat-primary{{
							iconOnly.size !== '' ? ` btn--${iconOnly.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						>&lt;i class=<span class="attr-value"
							>"{{ iconOnly.icons[2] }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				&lt;/p&gt;
			</div></boxCodeBox
		>
		<hr />
		<h2 class="text-orange">Icon + Text Buttons</h2>
		<p
			v-for="iconText in iconTextButtons"
			:key="`'iconText-'${iconText.size}`"
			class="flex flex-spacer"
		>
			<button
				:class="`btn--primary btn--${iconText.size} btn--icon flex v-center ${
					iconText.textIcons[0].isReverse ? 'flex--reverse' : ''
				}`"
			>
				{{ iconText.textIcons[0].text
				}}<i
					:class="`${iconText.textIcons[0].icon} ${
						iconText.textIcons[0].isReverse ? 'mr-4' : 'ml-4'
					}`"
				></i>
			</button>
			<button
				:class="`btn--ghost-black btn--${
					iconText.size
				} btn--icon flex v-center ${
					iconText.textIcons[1].isReverse ? 'flex--reverse' : ''
				}`"
			>
				{{ iconText.textIcons[1].text
				}}<i
					:class="`${iconText.textIcons[1].icon} ${
						iconText.textIcons[1].isReverse ? 'mr-4' : 'ml-4'
					}`"
				></i>
			</button>
			<button
				:class="`btn--flat-light-grey btn--${
					iconText.size
				} btn--icon flex v-center ${
					iconText.textIcons[2].isReverse ? 'flex--reverse' : ''
				}`"
			>
				{{ iconText.textIcons[2].text
				}}<i
					:class="`${iconText.textIcons[2].icon} ${
						iconText.textIcons[2].isReverse ? 'mr-4' : 'ml-4'
					}`"
				></i>
			</button>
		</p>
		<boxCodeBox
			><div
				v-for="iconText in iconTextButtons"
				:key="`'iconText-'${iconText.size}`"
			>
				&lt;p&gt;
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--primary{{
							iconText.size !== '' ? ` btn--${iconText.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						><span class="text">{{ iconText.textIcons[0].text }}</span
						>&lt;i class=<span class="attr-value"
							>"{{ iconText.textIcons[0].icon }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--ghost-primary{{
							iconText.size !== '' ? ` btn--${iconText.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						><span class="text">{{ iconText.textIcons[1].text }}</span
						>&lt;i class=<span class="attr-value"
							>"{{ iconText.textIcons[1].icon }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				<div class="new-line pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--flat-primary{{
							iconText.size !== '' ? ` btn--${iconText.size}` : ''
						}}
						btn--icon"</span
					>&gt;<span class="new-line pl-64"
						><span class="text">{{ iconText.textIcons[2].text }}</span
						>&lt;i class=<span class="attr-value"
							>"{{ iconText.textIcons[2].icon }}"</span
						>&gt;&lt;/i&gt;</span
					>&lt;/button&gt;
				</div>
				&lt;/p&gt;
			</div></boxCodeBox
		>
	</main>
</template>

<script>
export default {
	name: 'ButtonsPage',
	data() {
		return {
			colors: [
				'primary',
				'secondary',
				'warning',
				'danger',
				'black',
				'light-grey',
				'white'
			],
			sizes: [
				{
					name: 'Small',
					type: 'small'
				},
				{
					name: 'Normal',
					type: ''
				},
				{
					name: 'Large',
					type: 'large'
				}
			],
			iconOnlyButtons: [
				{
					size: 'small',
					icons: ['bzi-search f-14', 'bzi-close f-14', 'bzi-user f-14']
				},
				{
					size: '',
					icons: ['bzi-user f-16', 'bzi-search f-16', 'bzi-close f-16']
				},
				{
					size: 'large',
					icons: ['bzi-close f-20', 'bzi-user f-20', 'bzi-search f-20']
				}
			],
			iconTextButtons: [
				{
					size: 'small',
					textIcons: [
						{ icon: 'bzi-search f-14', text: 'Search', isReverse: false },
						{ icon: 'bzi-close f-14', text: 'Cancel', isReverse: true },
						{ icon: 'bzi-user f-14', text: 'Profile', isReverse: false }
					]
				},
				{
					size: '',
					textIcons: [
						{ icon: 'bzi-user f-16', text: 'Profile', isReverse: true },
						{ icon: 'bzi-search f-16', text: 'Search', isReverse: false },
						{ icon: 'bzi-close f-16', text: 'Cancel', isReverse: true }
					]
				},
				{
					size: 'large',
					textIcons: [
						{ icon: 'bzi-close f-20', text: 'Cancel', isReverse: false },
						{ icon: 'bzi-user f-20', text: 'Profile', isReverse: true },
						{ icon: 'bzi-search f-20', text: 'Search', isReverse: true }
					]
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
