<template>
	<main id="cards">
		<h2 class="text-orange">Flex Card</h2>
		<div class="card-group">
			<div
				v-for="(card, index) in cards"
				:key="`card-${index}`"
				:class="`${card.color !== '' ? `card--${card.color}` : 'card'} mr-12`"
			>
				<div v-if="card.hasHeader" class="card--header">Card header</div>
				<img class="card--image" src="~assets/img/apple-icon.png" alt="" />
				<div class="card--body">
					<h5>Card</h5>
					<p class="mb-0">
						{{ card.content }}
					</p>
				</div>
				<div v-if="card.hasFooter" class="card--footer">Card footer</div>
			</div>
		</div>
		<hr />
		<h2 class="text-orange">Baze Grid Card</h2>
		<div
			class="bzg bzg--flex card-group js-card"
			data-card="dev/data/data.json"
		>
			<div
				v-for="(card, index) in bzCards"
				id="bazegrid-card"
				:key="`bzcard--${index}`"
				class="bzg_c mb-24"
				data-col="s12,m6,l3"
			>
				<div class="card--primary">
					<div class="card--header">{{ card.title }}</div>
					<a href="#"
						><img class="card--image" :src="card.image" alt="" width="100%"
					/></a>
					<div class="card--body">
						<h5>{{ card.title }}</h5>
						<p class="text-right">{{ card.date }}</p>
						<p class="mb-0">
							{{ card.content }}
						</p>
					</div>
					<div class="card--footer">Footer title</div>
				</div>
			</div>
		</div>
	</main>
</template>

<script>
export default {
	name: 'CardsPage',
	data() {
		return {
			cards: [
				{
					hasHeader: true,
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!',
					hasFooter: true,
					color: 'primary'
				},
				{
					hasHeader: true,
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.',
					hasFooter: true,
					color: 'secondary'
				},
				{
					hasHeader: true,
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam, architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!',
					hasFooter: false,
					color: 'light-grey'
				},
				{
					hasHeader: false,
					content:
						'Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam, architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!',
					hasFooter: true,
					color: ''
				}
			],
			bzCards: [
				{
					image: 'https://via.placeholder.com/180?text=30',
					title: 'Fields Mcconnell',
					date: '20 Maret 2019',
					content:
						'Ullamco dolore minim culpa est non aliqua labore adipisicing commodo veniam magna culpa.'
				},
				{
					image: 'https://via.placeholder.com/180?text=32',
					title: 'Oneil Larson',
					date: '13 Maret 2019',
					content: 'Sit officia anim cupidatat cupidatat occaecat culpa ut.'
				},
				{
					image: 'https://via.placeholder.com/180?text=33',
					title: 'White Lowe',
					date: '22 Maret 2019',
					content: 'Occaecat consectetur eiusmod incididunt esse dolore.'
				},
				{
					image: 'https://via.placeholder.com/180?text=35',
					title: 'Larson Powers',
					date: '3 April 2019',
					content:
						'Irure adipisicing id magna eiusmod magna id dolor esse velit.'
				},
				{
					image: 'https://via.placeholder.com/180?text=36',
					title: 'Tami Wood',
					date: '24 Maret 2019',
					content:
						'Minim pariatur irure cillum culpa cupidatat qui commodo amet.'
				},
				{
					image: 'https://via.placeholder.com/180?text=38',
					title: 'Johanna Sargent',
					date: '14 Februari 2019',
					content:
						'Voluptate sit anim consequat velit commodo qui tempor nisi dolor duis consequat.'
				}
			]
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
