<template>
	<main id="colors">
		<h2 class="text-orange">Text Color</h2>
		<div
			v-for="(text, index) in textColors"
			:key="'text' + index"
			v-html="text"
		></div>
		<boxCodeBlock
			><span v-for="(text, index) in textColors" :key="index" class="code-span"
				>{{ text }}
			</span></boxCodeBlock
		>
		<hr />
		<h2 class="text-orange">Background Color</h2>
		<div v-for="(bg, index) in bgColors" :key="'bg' + index" v-html="bg"></div>
		<boxCodeBlock
			><span v-for="(bg, index) in bgColors" :key="index" class="code-span"
				>{{ bg }}
			</span></boxCodeBlock
		>
		<hr />
		<h2 class="text-orange">Black Tones</h2>
		<div
			v-for="(tone, index) in blackTones"
			:key="'tone' + index"
			v-html="tone"
		></div>
		<boxCodeBlock
			><span v-for="(tone, index) in blackTones" :key="index" class="code-span"
				>{{ tone }}
			</span></boxCodeBlock
		>
		<hr />
		<h2 class="text-orange">Link Color</h2>
		<div
			v-for="(linkColor, index) in linkColors"
			:key="'linkColor' + index"
			v-html="linkColor"
		></div>
	</main>
</template>

<script>
export default {
	name: 'ColorsPage',
	data() {
		return {
			textColors: [
				'<p class="text-primary">Text class color = ".text-primary"</p>',
				'<p class="text-secondary">Text class color = ".text-secondary"</p>',
				'<p class="text-warning">Text class color = ".text-warning"</p>',
				'<p class="text-danger">Text class color = ".text-danger"</p>',
				'<p class="text-black">Text class color = ".text-black"</p>',
				'<p class="text-light-grey">Text class color = ".text-light-grey"</p>',
				'<p class="text-white">Text class color = ".text-white"</p>'
			],
			bgColors: [
				'<p class="bg-primary">Background class color = ".bg-primary"</p>',
				'<p class="bg-secondary">Background class color = ".bg-secondary"</p>',
				'<p class="bg-warning">Background class color = ".bg-warning"</p>',
				'<p class="bg-danger">Background class color = ".bg-danger"</p>',
				'<p class="bg-black">Background class color = ".bg-black"</p>',
				'<p class="bg-light-grey">Background class color = ".bg-light-grey"</p>',
				'<p class="bg-white">Background class color = ".bg-white"</p>'
			],
			blackTones: [
				'<p class="text-black10">Black tone = ".text-black10" ($black10)</p>',
				'<p class="text-black20">Black tone = ".text-black20" ($black20)</p>',
				'<p class="text-black30">Black tone = ".text-black30" ($black30)</p>',
				'<p class="text-black40">Black tone = ".text-black40" ($black40)</p>',
				'<p class="text-black50">Black tone = ".text-black50" ($black50)</p>',
				'<p class="text-black60">Black tone = ".text-black60" ($black60)</p>',
				'<p class="text-black70">Black tone = ".text-black70" ($black70)</p>',
				'<p class="text-black80">Black tone = ".text-black80" ($black80)</p>',
				'<p class="text-black90">Black tone = ".text-black90" ($black90)</p>',
				'<p class="text-black">Black tone = ".text-black" ($black)</p>'
			],
			linkColors: [
				'<p>Link color = <a class="link-primary" href="#">".link-primary"</a> (<a href="#">Default link color</a>)</p>',
				'<p>Link color = <a class="link-secondary" href="#">".link-secondary"</a></p>',
				'<p>Link color = <a class="link-warning" href="#">".link-warning"</a></p>',
				'<p>Link color = <a class="link-danger" href="#">".link-danger"</a></p>',
				'<p>Link color = <a class="link-black" href="#">".link-black"</a></p>',
				'<p>Link color = <a class="link-light-grey" href="#">".link-light-grey"</a></p>',
				'<p>Link color = <a class="link-white" href="#">".link-white"</a></p>'
			]
		}
	}
}
</script>

<style lang="scss" scoped></style>
