<template>
	<main id="grid">
		<h2 class="text-orange">Default Grid</h2>
		<div class="bzg">
			<div v-for="i in 4" :key="i" class="bzg_c" data-col="m3">
				<div class="text-center bg-primary text-white">bzg_c m3</div>
			</div>
		</div>
		<div class="bzg">
			<div v-for="i in 3" :key="i" class="bzg_c" data-col="m4">
				<div class="text-center bg-primary text-white">bzg_c m4</div>
			</div>
		</div>
		<div class="mv-16">
			<boxCodeBox>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m3"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m3&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m4"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m4&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
			</boxCodeBox>
		</div>
		<hr />
		<h2 class="text-orange">No-Gutter Grid</h2>
		<div class="bzg bzg--no-gutter">
			<div v-for="i in 12" :key="i" class="bzg_c" data-col="m1">
				<div class="text-center bg-primary text-white">bzg_c m1</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div v-for="i in 6" :key="i" class="bzg_c" data-col="m2">
				<div class="text-center bg-primary text-white">bzg_c m2</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div v-for="i in 4" :key="i" class="bzg_c" data-col="m3">
				<div class="text-center bg-primary text-white">bzg_c m3</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div v-for="i in 3" :key="i" class="bzg_c" data-col="m4">
				<div class="text-center bg-primary text-white">bzg_c m4</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div v-for="i in 2" :key="i" class="bzg_c" data-col="m6">
				<div class="text-center bg-primary text-white">bzg_c m6</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="m7">
				<div class="text-center bg-primary text-white">bzg_c m7</div>
			</div>
			<div class="bzg_c" data-col="m5">
				<div class="text-center bg-primary text-white">bzg_c m5</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="m12">
				<div class="text-center bg-primary text-white">bzg_c m12</div>
			</div>
		</div>
		<div class="mv-16">
			<boxCodeBox>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m3"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m3&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m4"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m4&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
			</boxCodeBox>
		</div>
		<hr />
		<h2 class="text-orange">Grid with Offset</h2>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="m2">
				<div class="text-center bg-primary text-white">bzg_c m2</div>
			</div>
			<div class="bzg_c" data-col="m5" data-offset="m5">
				<div class="text-center bg-primary text-white">bzg_c m5 offset=m5</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="m3" data-offset="m3">
				<div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div>
			</div>
			<div class="bzg_c" data-col="m3" data-offset="m3">
				<div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div>
			</div>
		</div>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="m6" data-offset="m3">
				<div class="text-center bg-primary text-white">bzg_c m6 offset=m3</div>
			</div>
		</div>
		<div class="mv-16">
			<boxCodeBox>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m3"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m3&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m4"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m4&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
			</boxCodeBox>
		</div>
		<hr />
		<h2 class="text-orange">Responsive Grid</h2>
		<div class="bzg bzg--no-gutter">
			<div class="bzg_c" data-col="s12,m9,l6">
				<div class="text-center bg-primary text-white">bzg_c s12,m9,l6</div>
			</div>
			<div class="bzg_c" data-col="s6,m3,l6">
				<div class="text-center bg-primary text-white">bzg_c s6,m3,l6</div>
			</div>
		</div>
		<div class="mt-16">
			<boxCodeBox>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m3"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m3&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
				<div>&lt;div class=<span class="attr-value">"bzg"</span>&gt;</div>
				<div v-for="i in 4" :key="i" class="pl-32">
					&lt;div class=<span class="attr-value">"bzg_c"</span> data-col=<span
						class="attr-value"
						>"m4"</span
					>&gt;&lt;div class=<span class="attr-value"
						>"text-center bg-primary text-white"</span
					>&gt;bzg_c m4&lt;/div&gt;&lt;/div&gt;
				</div>
				<div>&lt;/div&gt;</div>
			</boxCodeBox>
		</div>
	</main>
</template>

<script>
export default {
	name: 'GridPage',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
.bzg--no-gutter {
	& .bzg_c {
		border: 1px solid white;
	}
}
</style>
