<template>
	<main id="headings">
		<h2 class="text-orange">Heading</h2>
		<component :is="`h${number}`" v-for="number in numbers" :key="number">
			Heading {{ number }}
		</component>
		<boxCodeBox
			><div v-for="number in numbers" :key="number">
				&lt;h{{ number }}&gt;<span class="text">Heading {{ number }}</span
				>&lt;/h1&gt;
			</div></boxCodeBox
		>
		<hr />
		<h2 class="text-orange">Heading Style</h2>
		<p v-for="number in numbers" :key="number" :class="`h${number}`">
			Text size adjust h{{ number }}
		</p>
		<boxCodeBox
			><div v-for="number in numbers" :key="number">
				&lt;p class=<span class="attr-value">"h{{ number }}"</span>&gt;<span
					class="text"
					>Text size adjust h{{ number }}</span
				>&lt;/p&gt;
			</div></boxCodeBox
		>
	</main>
</template>

<script>
export default {
	name: 'HeadingsPage',
	data() {
		return {
			numbers: [1, 2, 3, 4, 5, 6]
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
