<template>
	<main class="index">
		<section
			class="section-hero"
			@mousemove="handleMouseMove"
			@touchmove="handleMouseMove"
		>
			<button class="message-button">
				<div class="circle p-12 bg-orange flex v-center h-center">
					<!-- <i class="bzi-facebook-square text-white"></i> -->
					<svg
						width="27"
						height="27"
						viewBox="0 0 33 27"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M5.90276 15.9959V20.3794L10.7476 15.9959H18.3609C21.4985 15.6268 21.8215 12.6122 21.5908 11.1511V4.4606C21.9599 1.87669 19.2837 1.0769 17.8995 1H4.2878C1.51932 1.18457 0.981008 3.38397 1.05791 4.4606V11.1511C0.504218 14.8424 4.0571 15.919 5.90276 15.9959Z"
							stroke="white"
							stroke-width="1.5"
						/>
						<path
							d="M14.0005 18.0039C13.8046 19.2215 14.1054 21.0445 16.7696 21.3521H23.2341L27.3478 25.0049V21.3521C28.915 21.288 31.9317 20.3908 31.4616 17.3147V11.7393C31.5269 10.8421 31.0698 9.00927 28.7191 8.85547H24.0005"
							stroke="white"
							stroke-width="1.5"
						/>
					</svg>
				</div>
			</button>
			<div class="index-main container">
				<div class="intro flex v-center">
					<div class="intro-text text-white">
						<p>
							Step into our Innovative Space, where Digital Excellence Meets
							Exceptional Creativity
						</p>
						<h1>Navigate the Innovation to Unlock Digital Challenges</h1>
						<button class="btn--ghost-white mt-24">Discover More</button>
					</div>
				</div>
				<div class="record text-white">
					<div class="flex">
						<div class="record__item pr-24">
							<p class="h3 mb-4 f--bold">10+</p>
							<p class="mb-4 text-black70">Years Track Record</p>
						</div>
						<div class="record__item ph-24">
							<p class="h3 mb-4 f--bold">840+</p>
							<p class="mb-4 text-black70">Completed Projects</p>
						</div>
						<div class="record__item ph-24">
							<p class="h3 mb-4 f--bold">140+</p>
							<p class="mb-4 text-black70">Satisfied Clients</p>
						</div>
						<div class="record__item ph-24">
							<p class="h3 mb-4 f--bold">200+</p>
							<p class="mb-4 text-black70">Digital Experts</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div v-if="showSection">
			<section class="section-expertise">
				<div class="container">
					<div class="flex f-space-between v-center">
						<h2 class="section-expertise__title f--bold">
							We Guide Your Brand Transformation to Excellence
						</h2>
						<button class="btn--ghost-orange">Explore Our Expertise</button>
					</div>
					<div class="section-expertise__content mt-32 bzg">
						<div class="bzg_c" data-col="s5"></div>
						<div class="bzg_c" data-col="s7">
							<p>lorem ipsum</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section-case">
				<div class="container">
					<h2 class="section__title f--bold">
						Brilliant Ideas Lead to Creative Innovation
					</h2>
					<div class="section__content mt-32 bzg bzg--large-gutter">
						<div class="bzg_c" data-col="s6">
							<homeCard />
						</div>
						<div class="bzg_c" data-col="s6">
							<homeCard />
						</div>
						<div class="bzg_c" data-col="s6">
							<homeCard />
						</div>
						<div class="bzg_c" data-col="s6">
							<homeCard />
						</div>
					</div>
					<div class="flex h-center mv-32">
						<button class="btn--ghost-orange">View Case Studies</button>
					</div>
				</div>
			</section>
			<section class="section-ideas">
				<div class="container">
					<h2 class="section__title f--bold">
						Idea Creates, Expert Inspires Your Brand
					</h2>
					<div class="section__content mt-32 bzg">
						<div class="bzg_c" data-col="s4">
							<homeCard />
						</div>
						<div class="bzg_c" data-col="s4">
							<homeCard />
						</div>
						<div class="bzg_c" data-col="s4">
							<homeCard />
						</div>
					</div>
					<div class="flex h-center mv-32">
						<button class="btn--ghost-orange">View All Ideas</button>
					</div>
				</div>
			</section>
			<section class="section-join">
				<div class="container">
					<div class="flex f-space-between v-center">
						<h2 class="text-white f--bold mb-0">
							Ready to Step Towards the Futures?
						</h2>
						<button class="btn--orange">Let's Talk</button>
					</div>
				</div>
			</section>
		</div>
	</main>
</template>

<script>
export default {
	name: 'IndexPage',
	layout: 'blanklayout',
	data() {
		return {
			showSection: false
		}
	},
	head() {
		return {
			...this.$SEOMeta({
				metaTitle: 'Suit Baze'
			})
		}
	},
	methods: {
		handleMouseMove() {
			this.showSection = true
		}
	},
	jsonld() {
		return this.$jsonLD({
			type: 'LocalBusiness',
			jsonLDObjects: {
				address: {
					'@type': 'PostalAddress',
					addressLocality: 'Jakarta, Indonesia',
					postalCode: '12510',
					streetAddress: 'Jl. Pejaten Barat II No. 3A'
				},
				email: 'contact(at)suitmedia.com',
				name: 'Suitmedia',
				telephone: '+62 21 719 6877',
				legalName: 'PT Suitmedia Kreasi Indonesia',
				location: 'Jakarta, Bandung, Yogyakarta, Singapore',
				description: 'Digital Agency Indonesia'
			}
		})
	}
}
</script>

<style lang="scss" scoped>
.index {
	position: relative;

	& button {
		border-radius: 4px !important;
	}
	.section-hero {
		height: 100vh;
		background-image: url('~assets/img/home/bg-hero.png');
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top: 75px;
		padding-bottom: 45px;

		.message-button {
			position: fixed;
			right: 10px;
			bottom: 45px;
			background-color: transparent;
			border: none;
			z-index: 1;
		}

		.index-main {
			display: flex;
			height: 100%;
			flex-direction: column;
		}

		.intro {
			flex-grow: 1;

			& .intro-text {
				width: 55%;
			}

			& .intro-text button {
				border-radius: 4px;
			}
		}

		.record {
			&__item {
				border-right: 1px solid $dark-grey;
			}
		}
	}

	.section-expertise {
		padding: 45px 0px;
		min-height: 100vh;

		&__title {
			width: 50%;
		}
	}
	.section-case,
	.section-ideas,
	.section-join {
		padding: 45px 0px;
	}

	.section-join {
		background-color: $black80;
	}
}
</style>
