<template>
	<main id="lists">
		<h2 class="text-orange">Lists</h2>
		<div class="container">
			<p class="h5 text-semibold">Ordered List</p>
			<div v-html="orderedList"></div>
			<boxCodeBlock>{{ orderedList }}</boxCodeBlock>
			<p class="h5 text-semibold">Unordered List</p>
			<div v-html="unorderedList"></div>
			<boxCodeBlock>{{ unorderedList }}</boxCodeBlock>
			<p class="h5 text-semibold">Inline List</p>
			<div v-html="inlineList"></div>
			<boxCodeBlock>{{ inlineList }}</boxCodeBlock>
			<p class="h5 text-semibold">No Style List</p>
			<div v-html="noStyleList"></div>
			<boxCodeBlock>{{ noStyleList }}</boxCodeBlock>
		</div>
	</main>
</template>

<script>
export default {
	name: 'HeadingsPage',
	data() {
		return {
			orderedList: `<ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
    <li>id facere,
        <ol type="a">
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
        </ol>
    </li>
    <li>dignissimos sequi illum doloremque.</li>
</ol>`,
			unorderedList: `<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
    <li>id facere,
        <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
        </ul>
    </li>
    <li>dignissimos sequi illum doloremque.</li>
</ul>`,
			inlineList: `<ol class="list-inline">
    <li>Lorem > </li>
    <li>Ipsum > </li>
    <li>Dolor</li>
</ol>`,
			noStyleList: `<ul class="list-nostyle">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
    <li>id facere,
        <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
        </ul>
    </li>
    <li>dignissimos sequi illum doloremque.</li>
</ul>`
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
