<template>
	<main id="media-object">
		<h2 class="text-orange">Media Objects</h2>
		<figure class="media">
			<div class="media-figure">
				<img src="~assets/img/apple-icon.png" alt="" />
			</div>
			<div class="media-content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
				incidunt tempora ratione sapiente, nesciunt consectetur officiis commodi
				soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum,
				reprehenderit modi. Fugiat?
			</div>
		</figure>
		<boxCodeBox
			>&lt;figure class=<span class="attr-value">"media"</span>&gt;<span
				class="new-line pl-32"
				>&lt;div class=<span class="attr-value">"media-figure"</span>&gt;</span
			>
			<span class="new-line pl-64"
				>&lt;img src=<span class="attr-value"
					>"~assets/img/apple-icon.png"</span
				>
				alt=<span class="attr-value">""</span> /&gt;</span
			><span class="new-line pl-32"> &lt;/div&gt;</span>
			<span class="new-line pl-32"
				>&lt;div class=<span class="attr-value">"media-content"</span>&gt;
			</span>
			<span class="new-line pl-64"
				><span class="text"
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					incidunt tempora ratione sapiente, nesciunt consectetur officiis
					commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
					rerum, reprehenderit modi. Fugiat?</span
				>
			</span>
			<span class="new-line pl-32">&lt;/div&gt;</span>
			&lt;/figure&gt;</boxCodeBox
		>
		<hr />
		<h2 class="text-orange">With Title, Button, and Link</h2>
		<figure class="media">
			<div class="media-figure">
				<img src="~assets/img/apple-icon.png" alt="" width="150px" />
			</div>
			<div class="media-content">
				<h4 class="media-title text-primary">Title</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
					eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
					minim veniam, quis nostrud exercitation ullamco laboris nisi ut
					aliquip ex ea commodo consequat. Duis aute irure dolor in
					reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
					pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
					culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p class="mb-0">
					<button class="btn--primary btn--small btn--icon mr-8">
						<i class="bzi-like"></i>
					</button>
					<a href="#">Visit somewhere...</a>
				</p>
			</div>
		</figure>
		<boxCodeBox
			>&lt;figure class=<span class="attr-value">"media"</span>&gt;<span
				class="new-line pl-32"
				>&lt;div class=<span class="attr-value">"media-figure"</span>&gt;</span
			>
			<span class="new-line pl-64"
				>&lt;img src=<span class="attr-value"
					>"~assets/img/apple-icon.png"</span
				>
				alt=<span class="attr-value">""</span> width=<span class="attr-value"
					>"150px"</span
				>
				/&gt;
			</span>
			<span class="new-line pl-32"> &lt;/div&gt;</span>
			<span class="new-line pl-32"
				>&lt;div class=<span class="attr-value">"media-content"</span>&gt;
			</span>
			<span class="new-line pl-64"
				>&lt;h4 class=<span class="attr-value">"media-title text-primary"</span
				>&gt;<span class="text">Title</span>&lt;/h4&gt;
			</span>
			<span class="new-line pl-64"> &lt;p&gt; </span>
			<div class="pl-64">
				<span class="new-line pl-32 text"
					>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
					incidunt tempora ratione sapiente, nesciunt consectetur officiis
					commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam
					rerum, reprehenderit modi. Fugiat?</span
				>
			</div>
			<span class="new-line pl-64"> &lt;/p&gt; </span>
			<div class="pl-64">
				&lt;p&gt;
				<div class="pl-32">
					&lt;button class=<span class="attr-value"
						>"btn--primary btn--small btn--icon mr-8"</span
					>&gt; &lt;i class=<span class="attr-value">"fas fa-thumbs-up"</span
					>&gt;&lt;/i&gt; &lt;/button&gt;
				</div>
				<div class="pl-32">
					&lt;a href=<span class="attr-value">"#"</span>&gt;<span class="text"
						>Visit somewhere...</span
					>&lt;/a&gt;
				</div>
				&lt;/p&gt;
			</div>
			<span class="new-line pl-32">&lt;/div&gt;</span>
			&lt;/figure&gt;</boxCodeBox
		>
	</main>
</template>

<script>
export default {
	name: 'MediaObjectPage',
	data() {
		return {}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
