<template>
	<main id="text-alignment">
		<h2 class="text-orange">Text Alignment</h2>
		<div class="container">
			<h5 class="text-semibold">Left Align</h5>
			<div>
				<p class="text-left">{{ text }}</p>
			</div>
			<boxCodeBox>
				&lt;p class=<span class="attr-value">"text-left"</span>&gt;<span
					class="text"
					>{{ text }}</span
				>&lt;/p&gt;
			</boxCodeBox>
			<h5 class="text-semibold mt-16">Center Align</h5>
			<div>
				<p class="text-center">{{ text }}</p>
			</div>
			<boxCodeBox
				>&lt;p class=<span class="attr-value">"text-center"</span>&gt;<span
					class="text"
					>{{ text }}</span
				>&lt;/p&gt;</boxCodeBox
			>
			<h5 class="text-semibold mt-16">Right Align</h5>
			<div>
				<p class="text-right">{{ text }}</p>
			</div>
			<boxCodeBox
				>&lt;p class=<span class="attr-value">"text-right"</span>&gt;<span
					class="text"
					>{{ text }}</span
				>&lt;/p&gt;</boxCodeBox
			>
		</div>
	</main>
</template>

<script>
export default {
	name: 'TextAlignmentPage',
	data() {
		return {
			text: `Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum.`,
			leftAlign: `<p class="text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum.</p>`,
			centerAlign: `<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum.</p>`,
			rightAlign: `<p class="text-right">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
mollit anim id est laborum.</p>`
		}
	}
}
</script>

<style lang="scss" scoped>
.code-span {
	display: block;
}
</style>
