<template>
	<div class="clickable-chip">
		<nuxt-link
			:to="`/blog?category=${getCategorySlug}`"
			:class="`clickable-chip__button btn--${bgColor} text-reg`"
		>
			{{ category }}
		</nuxt-link>
	</div>
</template>

<script>
export default {
	name: 'ClickableChip',
	props: {
		bgColor: {
			type: String,
			default: 'whitish-gray'
		},
		category: {
			type: String,
			default: 'Human Growth'
		}
	},
	computed: {
		getCategorySlug() {
			return this.category.toString().toLowerCase().split(' ').join('-')
		}
	}
}
</script>

<style lang="scss" scoped>
.clickable-chip {
	&__button {
		font-weight: 400;
		font-size: 0.8em;
		padding: 2px 16px;
		border-radius: 32px;
	}
}
</style>
